<div class="k2t-body">
    <div class="k2t-content no-sidebar">
        <div class="entry-gallery">
            <main class="k2t-main-gallery page">
                <div class="post-1987 page type-page status-publish hentry" id="post-1987">
                    <div class="page-entry">
                        <div style="margin: 106px 0 0px;" class="vc_row vc_row-fluid vc_custom_1442390892806" data-vc-full-width-init="true" data-vc-full-width="true">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="wpb_wrapper">
                                    <h2 class="vc_custom_heading" style="font-size: 36px;color: #283c5a;text-align: center;font-family:Old Standard TT;font-weight:400;font-style:normal; margin-bottom:5px">GALLERY 4 GRID COLUMNS</h2>
                                    <div class="wpb_single_image wpb_content_element vc_align_center" style="margin-bottom:27px !important">
                                        <div class="wpb_wrapper">
                                            <div class="vc_single_image-wrapper vc_box_border_grey" style="text-align: center;">
                                                <img width="70" height="10" alt="bg-title-bar" class="vc_single_image-img attachment-thumbnail" src="assets/images/upload/bg-title-bar.png" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="k2t-gallery-shortcode filter-style-list text-align-center">
                                        <div class=" portfolio-grid isotope-fullwidth isotope-4 pf-4col">
                                            <div class="k2t-isotope-wrapper  isotope-4-columns isotope-gallery isotope-grid">
                                                <div class="container">
                                                    <div class="k2t-gallery-heading">
                                                        <ul class="k2t-isotope-filter filter-list">
                                                            <li class="* active">All</li>
                                                            <li class=".k2t-cat-casino">Casino</li>
                                                            <li class=".k2t-cat-gardent">Gardent</li>
                                                            <li class=".k2t-cat-room">Room</li>
                                                            <li class=".k2t-cat-restaurant">Restaurant</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entry-page-gallery" style="background: #f5f5f5;padding: 50px 0 170px">
                                                    <div class="container k2t-wrap article-loop k2t-isotope-container loaded" style="position: relative;">
                                                        <div class="gutter-sizer"></div>
                                                        <div class="article post project isotope-selector has-post-thumbnail has-hover k2t-cat-gardent" style="">
                                                            <div class="article-inner run_animation">
                                                                <div class="view view-first">
                                                                    <img width="1600" height="1185" alt="Gallery 18" class="attachment-thumb_270x200 wp-post-image" src="assets/images/upload/facade-801822_1920.jpg" />
                                                                    <div class="mask">
                                                                        <div class="pf-lightbox">
                                                                            <a class="k2t-popup-link" href="images/upload/facade-801822_1920.jpg"><i class="fa fa-search-plus"></i></a>
                                                                            <a href="#">Gallery 18</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .article -->
                                                        <div class="article post project isotope-selector has-post-thumbnail has-hover k2t-cat-gardent" style="">
                                                            <div class="article-inner run_animation">
                                                                <div class="view view-first">
                                                                    <img width="1600" height="1185" alt="Gallery 14" class="attachment-thumb_270x200 wp-post-image" src="assets/images/upload/fountain-70251_1280.jpg" />
                                                                    <div class="mask">
                                                                        <div class="pf-lightbox">
                                                                            <a class="k2t-popup-link" href="images/upload/fountain-70251_1280.jpg"><i class="fa fa-search-plus"></i></a>
                                                                            <a href="#">Gallery 14</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .article -->
                                                        <div class="article post project isotope-selector has-post-thumbnail has-hover k2t-cat-gardent" style="">
                                                            <div class="article-inner run_animation">
                                                                <div class="view view-first">
                                                                    <img width="1600" height="1185" alt="bali" src="assets/images/upload/driskill_hotel_in_austin-wallpaper.jpg" />
                                                                    <div class="mask">
                                                                        <div class="pf-lightbox">
                                                                            <a class="k2t-popup-link" href="images/upload/driskill_hotel_in_austin-wallpaper.jpg"><i class="fa fa-search-plus"></i></a>
                                                                            <a href="#">Gallery 12</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .article -->
                                                        <div class="article post project isotope-selector has-post-thumbnail has-hover k2t-cat-casino" style="">
                                                            <div class="article-inner run_animation">
                                                                <div class="view view-first">
                                                                    <img width="1600" height="1185" alt="Gallery 11" class="attachment-thumb_270x200 wp-post-image" src="assets/images/upload/facade-489810_1280.jpg" />
                                                                    <div class="mask">
                                                                        <div class="pf-lightbox">
                                                                            <a class="k2t-popup-link" href="images/upload/facade-489810_1280.jpg"><i class="fa fa-search-plus"></i></a>
                                                                            <a href="#">Gallery 11</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .article -->
                                                        <div class="article post project isotope-selector has-post-thumbnail has-hover k2t-cat-room" style="">
                                                            <div class="article-inner run_animation">
                                                                <div class="view view-first">
                                                                    <img width="1600" height="1185" alt="Gallery 10" class="attachment-thumb_270x200 wp-post-image" src="assets/images/upload/restaurant-691397.jpg" />
                                                                    <div class="mask">
                                                                        <div class="pf-lightbox">
                                                                            <a class="k2t-popup-link" href="images/upload/restaurant-691397.jpg"><i class="fa fa-search-plus"></i></a>
                                                                            <a href="#">Gallery 10</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .article -->
                                                        <div class="article post project isotope-selector has-post-thumbnail has-hover k2t-cat-room" style="">
                                                            <div class="article-inner run_animation">
                                                                <div class="view view-first">
                                                                    <img width="1600" height="1185" alt="Gallery 9" class="attachment-thumb_270x200 wp-post-image" src="assets/images/upload/59a2aa01c6afc5cb972ac417480cee08.jpg" />
                                                                    <div class="mask">
                                                                        <div class="pf-lightbox">
                                                                            <a class="k2t-popup-link" href="images/upload/59a2aa01c6afc5cb972ac417480cee08.jpg"><i class="fa fa-search-plus"></i></a>
                                                                            <a href="#">Gallery 9</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .article -->
                                                        <div class="article post project isotope-selector has-post-thumbnail has-hover k2t-cat-restaurant" style="">
                                                            <div class="article-inner run_animation">
                                                                <div class="view view-first">
                                                                    <img width="1600" height="1185" alt="Gallery 7" class="attachment-thumb_270x200 wp-post-image" src="assets/images/upload/budapest_citadel-wallpaper-2560x1600.jpg" />
                                                                    <div class="mask">
                                                                        <div class="pf-lightbox">
                                                                            <a class="k2t-popup-link" href="images/upload/budapest_citadel-wallpaper-2560x1600.jpg"><i class="fa fa-search-plus"></i></a>
                                                                            <a href="#">Gallery 7</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .article -->
                                                        <div class="article post project isotope-selector has-post-thumbnail has-hover k2t-cat-restaurant" style="">
                                                            <div class="article-inner run_animation">
                                                                <div class="view view-first">
                                                                    <img width="1600" height="1185" alt="Gallery 8" class="attachment-thumb_270x200 wp-post-image" src="assets/images/upload/child-577010_1280.jpg" />
                                                                    <div class="mask">
                                                                        <div class="pf-lightbox">
                                                                            <a class="k2t-popup-link" href="images/upload/child-577010_1280.jpg"><i class="fa fa-search-plus"></i></a>
                                                                            <a href="#">Gallery 8</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .article -->
                                                        <div class="article post project isotope-selector has-post-thumbnail has-hover k2t-cat-gardent" style="">
                                                            <div class="article-inner run_animation">
                                                                <div class="view view-first">
                                                                    <img width="1600" height="1185" alt="Gallery 4" class="attachment-thumb_270x200 wp-post-image" src="assets/images/upload/hotel-768387_1280.jpg" />
                                                                    <div class="mask">
                                                                        <div class="pf-lightbox">
                                                                            <a class="k2t-popup-link" href="images/upload/hotel-768387_1280.jpg"><i class="fa fa-search-plus"></i></a>
                                                                            <a href="#">Gallery 4</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .article -->
                                                        <div class="article post project isotope-selector has-post-thumbnail has-hover k2t-cat-gardent" style="">
                                                            <div class="article-inner run_animation">
                                                                <div class="view view-first">
                                                                    <img width="1600" height="1185" alt="Gallery 3" class="attachment-thumb_270x200 wp-post-image" src="assets/images/upload/waiter-492872.jpg" />
                                                                    <div class="mask">
                                                                        <div class="pf-lightbox">
                                                                            <a class="k2t-popup-link" href="images/upload/waiter-492872.jpg"><i class="fa fa-search-plus"></i></a>
                                                                            <a href="#">Gallery 3</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .article -->
                                                        <div class="article post project isotope-selector has-post-thumbnail has-hover k2t-cat-casino" style="">
                                                            <div class="article-inner run_animation">
                                                                <div class="view view-first">
                                                                    <img width="1600" height="1185" alt="Gallery 2" class="attachment-thumb_270x200 wp-post-image" src="assets/images/upload/spices-834114_1280.jpg" />
                                                                    <div class="mask">
                                                                        <div class="pf-lightbox">
                                                                            <a class="k2t-popup-link" href="images/upload/spices-834114_1280.jpg"><i class="fa fa-search-plus"></i></a>
                                                                            <a href="#">Gallery 2</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .article -->
                                                        <div class="article post project isotope-selector has-post-thumbnail has-hover k2t-cat-casino" style="">
                                                            <div class="article-inner run_animation">
                                                                <div class="view view-first">
                                                                    <img width="1600" height="1185" alt="Gallery 12" class="attachment-thumb_270x200 wp-post-image" src="assets/images/upload/salzburg-708757_1280.jpg" />
                                                                    <div class="mask">
                                                                        <div class="pf-lightbox">
                                                                            <a class="k2t-popup-link" href="images/upload/salzburg-708757_1280.jpg"><i class="fa fa-search-plus"></i></a>
                                                                            <a href="#">Gallery 1</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .article -->
                                                        <div class="bubblingG">
                                                            <span id="bubblingG_1"></span>
                                                            <span id="bubblingG_2"></span>
                                                            <span id="bubblingG_3"></span>
                                                        </div>
                                                    </div>
                                                    <!-- .k2t-isotope-wrapper -->
                                                </div>
                                                <!-- .portfolio-grid -->
                                            </div>
                                            <!-- .k2t-gallery-shortcode -->
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row-full-width"></div>
                            </div>
                        </div>
                    </div>
                    <!-- .page-entry -->
                </div>
                <!-- #post-## -->
                <div class="clear"></div>
            </main>
            <!-- main -->
        </div>
        <!-- entry -->
    </div>
    <!-- .k2t-content -->
</div>