<div class="k2t-body">
    <div class="k2t-content k2t-entry-event no-sidebar">
        <div class="k2t-wrap">
            <main class="k2t-main">
                <div class="post-2089 post-k-event type-post-k-event status-publish has-post-thumbnail hentry k-event-category-3-grid k-event-category-mix-grid" id="main-col">
                    <div class="k2t-row k2t-rows-inner k2t-room-detail">
                        <div class="entry-content pull-left">
                            <div class="k2t-title-room pull-left w100">
                                <!-- Title -->
                                <div class="event-title">
                                    <h3 class="h">Tour Elite Chichen Itza
                                        <!--<span class="price pull-right">
                                            <span class="amount">$&nbsp;1,350</span>
                                            <span class="amount">/ Day</span>
                                        </span>-->
                                    </h3>
                                </div>
                                <!-- END Title -->
                            </div>
                            <div class="k2t-event-gallery pull-left w100">
                                <div class="k2t-thumb-gallery">
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitza/tours_b/chichen_itza_luxury_tours (1).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitza/tours_b/chichen_itza_luxury_tours (2).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitza/tours_b/chichen_itza_luxury_tours (3).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitza/tours_b/chichen_itza_luxury_tours (4).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitza/tours_b/chichen_itza_luxury_tours (5).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitza/tours_b/chichen_itza_luxury_tours (6).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitza/tours_b/chichen_itza_luxury_tours (7).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitza/tours_b/chichen_itza_luxury_tours (8).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitza/tours_b/chichen_itza_luxury_tours (9).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitza/tours_b/chichen_itza_luxury_tours (10).jpg" />
                                    </div>
                                </div>
                                <div id="inavigation">
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitza/tours_a/chichen_itza_luxury_tours (1).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitza/tours_a/chichen_itza_luxury_tours (2).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitza/tours_a/chichen_itza_luxury_tours (3).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitza/tours_a/chichen_itza_luxury_tours (4).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitza/tours_a/chichen_itza_luxury_tours (5).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitza/tours_a/chichen_itza_luxury_tours (6).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitza/tours_a/chichen_itza_luxury_tours (7).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitza/tours_a/chichen_itza_luxury_tours (8).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitza/tours_a/chichen_itza_luxury_tours (9).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitza/tours_a/chichen_itza_luxury_tours (10).jpg" />
                                    </div>
                                </div>
                            </div>
                            <h3 class="event-item-title">Featured</h3>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Customizable private tour.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Avoid tight schedules and crowds.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Explore the archaeological site of Chichen-Itza with only your friends or family and your private guide.
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Refresh in a cenote and delight yourself with the best of Yucatan´s cuisine.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Lunch and beverages included.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Transportation included.
                                </p>
                            </div>
                            <hr>
                            <h3 class="event-item-title">Important information</h3>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i>
                                    <b>Pick up:</b> Your Hotel in Cancun.
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> We suggest to departure between 7:00am - 7:30am.
                                </p>
                            </div>
                            <hr>
                            <h3 class="event-item-title">Includes</h3>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Customizable private tour.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Private guide.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Lunchbox light breakfast.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Beverages and snacks on board.
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Swimming in cenote.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Taxes and insurance.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-wifi-alt"></i> Lunch
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-tv"></i> Tolls fees.
                                </p>
                            </div>
                            <!-- Description -->
                            <div class="event-description pull-left">
                                <h3 class="h event-item-title">Summary</h3>
                                <div class="content">
                                    <p>The archaeological site of Chichen-Itza was named world heritage by UNESCO in 1988. Its was of the most famous tourist points in the continent and home of the Kukulkan´s temple named one of the new seven wonders of
                                        the world.
                                    </p>
                                    <p>
                                        Choosing to take the tour with us guarantees you a level of customization without precedents that we can offer you from the first contact.
                                    </p>
                                    <p>
                                        Let us know how can we make your experience the most comfortable possible for you and your companions, we will gladly respond to your requests.
                                    </p>
                                    <p>
                                        Your private tour includes a personal guide on board, the snack and beverages of your preference in the transport unit, swimming in a Cenote, lunch and a visit to the pueblo magico of Valladolid.
                                    </p>
                                </div>
                                <h3 class="h event-item-title">What to expect</h3>
                                <div class="content">
                                    <p>
                                        Although we suggest a pick-up hour to maximize the time and visit the wonders with total freedom while avoiding the crowds we can adjust to the time you decide for us to pick you up. We will travel in a private van with air conditioning and the amenities
                                        of your election to Chichen – Itza.
                                    </p>
                                    <p>
                                        Once on the site, your guide will provide you a tour among the structures in the archaeological zone explaining the ancestry and significance of them, including the temple of Kukulkan, the most important and imposing structure in Chichen – itza.
                                    </p>
                                    <p>
                                        Refresh in the cold water of a Cenote and visit the beautiful pueblo magico of Valladolid. Our guides knows the city and will be happy to show you the most beautiful places while you get the opportunity the know the customs and traditions of its inhabitants.
                                    </p>
                                    <p>
                                        This is your tour! Plan with us to receive you with the beverages, snacks and music of your preference! Forget about tight schedules and crowded buses. You decide your itinerary and which sites do you wish to visit! During the duration of your tour we
                                        will be happy to suggest you points of interest in Valladolid and the archaeological site of Chichen- Itza!
                                    </p>
                                </div>
                            </div>
                            <!-- Event Calendar Import -->
                            <div class="btn btn-booking pull-left">
                                <a class="event-link" target="_blank" href="reservation.html">Booking This Tour</a>
                            </div>
                        </div>
                        <app-form></app-form>
                    </div>
                </div>
                <!-- #main-col -->
            </main>
            <!-- .k2t-blog -->
        </div>
        <!-- .k2t-wrap -->
    </div>
    <!-- .k2t-content -->
</div>