<div class="k2t-medium-right-h relative" id="k2t-medium-h3">
    <div class="k2t-title-bar">
        <div class="container k2t-wrap">
            <h1 style="font-size:36px;color:#283c5a; padding-top:105px" class="main-title k2t-cf7-title">
                Latest News
            </h1>
            <div class="main-excerpt">

            </div>
            <!-- .main-excerpt -->
        </div>
        <!-- k2t-container -->
    </div>
    <!-- .k2t-title-bar -->
    <div class="k2t-content no-sidebar b-medium">
        <div class="k2t-wrap">
            <div role="main" class="k2t-blog pagination-noborder">
                <div></div>
                <article class="element post-item -post post-1016 post type-post status-publish format-standard has-post-thumbnail hentry category-home tag-codex" id="post-10111">
                    <div class="post-inner">
                        <div class="flx-entry-thumb">
                            <a href="{{video}}">
                                <img width="570" height="320" src="{{image}}" alt="h01" />
                            </a>
                        </div>
                        <div class="entry-content">
                            <header>
                                <h2 class="entry-title">
                                    <a rel="bookmark" href="{{video}}">{{title}}</a>
                                </h2>
                            </header>
                            <p class="excerpt">{{message}}</p>
                            <div class="footer-content">
                                <a href="{{video}}" style="background:#252525" class="more-link btn-ripple">LEARN MORE</a>
                            </div>
                        </div>
                        <!--end:entry-content-->
                        <div class="k2t-blog-social pull-left">
                            <div class="k2t-social-share post">
                                <ul class="social">
                                    <li class="post_share">Share:</li>
                                    <li>
                                        <a class="facebook" href="{{video}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class="fa fa-facebook"></i>
                                            <span>Facebook</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- .social -->
                            </div>
                            <!-- .social-share -->
                        </div>
                    </div>
                </article>
                <!--end:post-item-->
            </div>
            <!-- .k2t-main -->
        </div>
        <!-- .k2t-wrap -->
    </div>
    <!-- .k2t-content -->
    <div class="k2t-h3-flbottom absolute"></div>
</div>