<div class="k2t-body">
    <div class="k2t-content k2t-entry-event no-sidebar">
        <div class="k2t-wrap">
            <main class="k2t-main">
                <div class="post-2089 post-k-event type-post-k-event status-publish has-post-thumbnail hentry k-event-category-3-grid k-event-category-mix-grid" id="main-col">
                    <div class="k2t-row k2t-rows-inner k2t-room-detail">
                        <div class="entry-content pull-left">
                            <div class="k2t-title-room pull-left w100">
                                <!-- Title -->
                                <div class="event-title">
                                    <h3 class="h">Luxury Chichen Itza By Airplane
                                        <span class="price pull-right">
                  <span class="amount">$&nbsp;1,350</span>
                                        <span class="amount">/ Day</span>
                                        </span>
                                    </h3>
                                </div>
                                <!-- END Title -->
                            </div>
                            <div class="k2t-event-gallery pull-left w100">
                                <div class="k2t-thumb-gallery">
                                    <div class="item">
                                        <img width="710" height="455" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/flychichenitza/tours_b/chichen-itza-by-airplane-1.jpg" />
                                        <img width="710" height="455" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/flychichenitza/tours_b/chichen-itza-by-airplane-2.jpg" />
                                        <img width="710" height="455" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/flychichenitza/tours_b/chichen-itza-by-airplane-3.jpg" />
                                        <img width="710" height="455" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/flychichenitza/tours_b/chichen-itza-by-airplane-4.jpg" />
                                    </div>

                                </div>
                                <div id="inavigation">
                                    <div class="item">
                                        <img width="110" height="110" class="" src="assets/images/upload/tours/flychichenitza/tours_a/chichen-itza-by-airplane-1.jpg" />
                                        <img width="110" height="110" class="" src="assets/images/upload/tours/flychichenitza/tours_a/chichen-itza-by-airplane-2.jpg" />
                                        <img width="110" height="110" class="" src="assets/images/upload/tours/flychichenitza/tours_a/chichen-itza-by-airplane-3.jpg" />
                                        <img width="110" height="110" class="" src="assets/images/upload/tours/flychichenitza/tours_a/chichen-itza-by-airplane-4.jpg" />
                                    </div>

                                </div>
                            </div>
                            <h3 class="event-item-title">Includes</h3>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Private ground transportation Hotel – Airport – Hotel.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Private guide.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Private air transportation.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Entrance fees.
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Beverages and snacks on board.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Swimming at a Cenote.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-wifi-alt"></i> Lunch.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-tv"></i> Taxes and insurance.
                                </p>
                            </div>
                            <br>
                            <hr>
                            <h3 class="event-item-title">Featured</h3>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Personalized private tour.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Avoid long bus rides.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Arrive to Chichen-Itza from Cancun in just minutes!
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Arrive to Chichen-Itza hours before the crowds.
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Explore the archaeological site of Chichen-Itza only with your group of friend or family and your private guide before the hot temperatures.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Refresh in the cold and clear waters of a cenote and delight yourself with typical Yucatan cuisine.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-wifi-alt"></i> Lunch and beverages included.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-tv"></i> Air and ground transportation included.
                                </p>
                            </div>
                            <!-- Description -->
                            <div class="event-description pull-left">
                                <h3 class="h event-item-title">Sumary</h3>
                                <div class="content">
                                    <p>Arrive in a private flight into the archaeological site of Chichen-Itza world heritage by UNESCO. Fly from Cancun or Playa del Carmen and arrive in just minutes and hours before the crowds arriving by bus.
                                    </p>
                                    <p>
                                        Enjoy a comfortable and safe flight above the jungle in a modern airplane with air conditioning while enjoying the beautiful landscapes from the sky.
                                    </p>
                                    <p>
                                        If saving precious time is a must during your vacations this is the best way there is to visit Chichen-Itza!
                                    </p>
                                    <p>
                                        Arrive back at your hotel in time to spend the rest of the day at the beach.
                                    </p>
                                </div>
                                <h3 class="h event-item-title">What to expect</h3>
                                <div class="content">
                                    <p>We will pick you up at your hotel to transport you to the FBO terminal at the Cancun international airport, or the Playa del Carmen Airstrip where you will meet with your pilot and you private guide who will take you
                                        to the airplane that will flight you to Kaua international airport, once there a private ground transportation will take you to the entrance of the archaeological site.
                                    </p>
                                    <p>
                                        Your guide will give you a tour around the structures with an explanation about the theirs ancient importance including Kukulkan´s temple, without a doubt the most imposing and recognized building in Chichen-Itza.
                                    </p>
                                    <p>
                                        After that, refresh in the cold and crystal clear water of a cenote and enjoy a delicious lunch with traditional cuisine from Yucatan. You will be back at your hotel approximately at 3:30pm after having enjoyed one of the most important tourist destinations
                                        worldwide!
                                    </p>
                                    <p>
                                        In Luxury Tours Mexico we are proud of the quality of our service y we will do our best to achieve an unparalleled experience for you and your companions. Let us know how we can make your experience more comfortable and special, we will be happy to serve
                                        you.
                                    </p>
                                </div>
                            </div>
                            <!-- Event Calendar Import -->
                            <div class="btn btn-booking pull-left">
                                <a class="event-link" target="_blank" href="reservation.html">Booking This Tour</a>
                            </div>
                        </div>
                        <app-form></app-form>
                    </div>
                </div>
                <!-- #main-col -->
            </main>
            <!-- .k2t-blog -->
        </div>
        <!-- .k2t-wrap -->
    </div>
    <!-- .k2t-content -->
</div>