<header class="k2t-header full">
    <div class="k2t-header-mid ">
        <div class="k2t-wrap">
            <div class="k2t-row">
                <div class="col-2 left col-find-hotel">
                    <div class="h-element select-hotel relative">
                    </div>
                </div>
                <div class="col-8 center">
                    <ul class="h-element k2t-menu " id="menu-menu-1">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2020" id="menu-item-2020"><a class="btn-ripple" [routerLink]="['/home']"><span class="k2t-title-menu">Home</span></a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1876" id="menu-item-1876"><a class="btn-ripple" [routerLink]="['/tours']"><span class="k2t-title-menu">Reservation</span></a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1876" id="menu-item-1876"><a class="btn-ripple" [routerLink]="['/fly']"><span class="k2t-title-menu">Fly</span></a></li>
                    </ul>
                    <div class="h-element ">
                        <a href="index2.html" rel="home" class="k2t-logo">
                            <img alt="Luxury Tours México" src="assets/images/upload/home/luxury-tours-logo-footer.png" />
                        </a>
                    </div>
                    <ul class="h-element k2t-menu " id="menu-menu-2">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2020" id="menu-item-2020"><a class="btn-ripple" [routerLink]="['/about']"><span class="k2t-title-menu">Us</span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2020" id="menu-item-2020"><a class="btn-ripple" [routerLink]="['/gallery']"><span class="k2t-title-menu">Gallery</span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2020" id="menu-item-2020"><a class="btn-ripple" [routerLink]="['/contact']"><span class="k2t-title-menu">Contact</span></a></li>
                    </ul>
                </div>
                <div class="col-2 right col-right-language">
                    <div class="h-element select-language relative">
                        <a class="current-language"><i class="zmdi zmdi-phone-ring"></i> &nbsp;+52 (998) 1037148</a>
                        <!-- <a href="#" class="current-language">ENGLISH &nbsp;<i class="zmdi zmdi-chevron-down"></i></a>
                        <ul class="absolute ul-select">
                            <li><a href="">Spainese</a></li>
                            <li><a href="">English</a></li>
                            <li><a href="">Germanese</a></li>
                            <li><a href="">French</a></li>
                        </ul>-->
                    </div>
                </div>
            </div>
            <!-- .row -->
        </div>
        <!-- .k2t-wrap -->
    </div>
    <!-- .k2t-header-mid -->
    <div class="k2t-header-m">
        <div class="k2t-menu-m">
            <a class="m-trigger mobile-menu-toggle"><span></span></a>
            <div class="mobile-menu-wrap dark-div">
                <a href="#" class="mobile-menu-toggle"><i class="fa fa-times-circle"></i></a>
                <ul class="mobile-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1078 children">
                        <a [routerLink]="['/home']">Home</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1078 children">
                        <a [routerLink]="['/tours']">Reservation</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1078 children">
                        <a [routerLink]="['/fly']">Fly</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1078 children">
                        <a [routerLink]="['/about']">Us</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1078 children">
                        <a [routerLink]="['/gallery']">Gallery</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1078 children">
                        <a [routerLink]="['/contact']">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="k2t-logo-m">
            <a [routerLink]="['/home']" rel="home" class="k2t-logo">
                <img alt="Lyon" src="assets/images/upload/home/luxury-tours-logo-footer.png" />
            </a>
            <!-- .k2t-logo -->
        </div>
        <!-- .k2t-logo-m -->
        <div class="k2t-right-m">
            <div class="canvas-sidebar">
            </div>
        </div>
        <!-- .k2t-right-m -->
    </div>
    <!-- .k2t-header-m -->
</header>