<div class="k2t-body">
    <div class="k2t-content no-sidebar k2t-room-listing k2t-room-style3">
        <div class="container k2t-wrap">
            <!-- Main -->
            <main class="k2t-main-gallery page">
                <article id="post-2112" class="post-2112 page type-page status-publish hentry">
                    <div class="page-entry">
                        <div data-vc-full-width="true" data-vc-full-width-init="true" class=" box-sizing: border-box;">
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_custom_1440734955352">
                                <div class="wpb_wrapper">
                                    <div class="k2t-heading-inner">
                                        <div class="text">
                                            <br>
                                            <h2 class="h"><span>Luxury Tours México</span></h2>
                                        </div>
                                    </div>
                                    <div class="w100 pull-left k2t-bg-title">
                                        <img width="70" height="10" src="assets/images/upload/bg-title-bar.png" class="vc_single_image-img attachment-thumbnail" alt="bg-title-bar" />
                                    </div>
                                    <!--<div class="sub-title-room pull-left w100">
                                    </div>-->
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                            <div class="wpb_wrapper">
                                                <div class="event-listing-classic ">
                                                    <div class="group"></div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a [routerLink]="['/fly-tours/scenic-flight']" title="Scenic Flight Tour Cancun">
                                                                    <img width="1603" height="770" src="assets/images/upload/tours/scenic-flight-cancun.jpg" class="attachment-thumb_370x370 wp-post-image" alt="Scenic Flight Tour Cancun" /></a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                    <span class="amount">$&nbsp;1350</span> </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a [routerLink]="['/fly-tours/scenic-flight']" title="Scenic Flight Tour Cancun">Scenic Flight Tour</a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a [routerLink]="['/fly-tours/scenic-flight']" title="Scenic Flight Tour Cancun">Detail <i class="fa fa-angle-right"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .page-entry -->
                </article>
                <!-- #post-## -->
                <div class="clear"></div>
            </main>
            <!-- Sidebar -->
        </div>
        <div class="k2t-booking-form pull-left w100">
        </div>
        <!-- k2t-booking form -->
    </div>
    <!-- .k2t-content -->
</div>