<div class="k2t-body">
    <div class="k2t-content no-sidebar k2t-room-listing k2t-room-style3">
        <div class="container k2t-wrap">
            <!-- Main -->
            <main class="k2t-main-gallery page">
                <article id="post-2112" class="post-2112 page type-page status-publish hentry">
                    <div class="page-entry">
                        <div data-vc-full-width="true" data-vc-full-width-init="true" class=" box-sizing: border-box;">
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_custom_1440734955352">
                                <div class="wpb_wrapper">
                                    <div class="k2t-heading-inner">
                                        <div class="text">
                                            <br>
                                            <h2 class="h"><span>Luxury Tours México</span></h2>
                                        </div>
                                    </div>
                                    <div class="w100 pull-left k2t-bg-title">
                                        <img width="70" height="10" src="assets/images/upload/bg-title-bar.png" class="vc_single_image-img attachment-thumbnail" alt="bg-title-bar" />
                                    </div>
                                    <!--<div class="sub-title-room pull-left w100">
                                    </div>-->
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                            <div class="wpb_wrapper">
                                                <div class="event-listing-classic ">
                                                    <div class="group"></div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a [routerLink]="['/tours/chichen-itza']" title="Chichen Itza Luxury Tours Mexico">
                                                                    <img width="1603" height="770" src="assets/images/upload/tours/LuxuryChichenItza.jpg" class="attachment-thumb_370x370 wp-post-image" alt="King Suite Room" /></a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                    <span class="amount">$&nbsp;1350</span> </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a [routerLink]="['/tours/chichen-itza']" title="King Suite Room">Luxury Chichen Itza</a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a [routerLink]="['/tours/chichen-itza']" title="King Suite Room">Detail <i class="fa fa-angle-right"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="wpb_wrapper">
                                                <div class="event-listing-classic ">
                                                    <div class="group"></div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a [routerLink]="['/tours/tulum-coba']" title="Queen Suite Room"><img width="370" height="370" src="assets/images/upload/tours/coba_luxury_tours_mexico.jpg" class="attachment-thumb_370x370 wp-post-image" alt="Coba Luxury Tours México" /></a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                    <span class="amount">$&nbsp;1,350</span> </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a [routerLink]="['/tours/tulum-coba']" title="Queen Suite Room">
                                                                          Luxury Coba      								</a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a [routerLink]="['/tours/tulum-coba']" title="Queen Suite Room">Detail <i class="fa fa-angle-right"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="wpb_wrapper">
                                                <div class="event-listing-classic ">
                                                    <div class="group"></div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a [routerLink]="['/tours/chichen-itza-by-airplane']" title="Chichen Itza By Airplane">
                                                                    <img width="370" height="370" src="assets/images/upload/home/luxury_tours_tulum.jpg" class="attachment-thumb_370x370 wp-post-image" alt="Chichen Itza By Airplane" /></a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                    <span class="amount">$&nbsp;2,350</span> </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a [routerLink]="['/tours/chichen-itza-by-airplane']" title="Chichen Itza By Airplane">
                                                                        Chichen Itza By Airplane  
                                                                        </a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a [routerLink]="['/tours/chichen-itza-by-airplane']" title="Chichen Itza By Airplane">Detail <i class="fa fa-angle-right"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                            <div class="wpb_wrapper">
                                                <div class="event-listing-classic ">
                                                    <div class="group"></div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a [routerLink]="['/tours/tulum-coba']" title="Tulum Luxury Tours "><img width="770" height="370" src="assets/images/upload/tours/tulum_luxury_tours_mexico.jpg" class="attachment-thumb_370x370 wp-post-image" alt="Tulum Luxury Tours Mexico" /></a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                    <span class="amount">$&nbsp;1,350</span> </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a [routerLink]="['/tours/tulum-coba']" title="Tulum Luxury Tours">
                                                                          Tulum Luxury Tours    								</a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a [routerLink]="['/tours/tulum-coba']" title="Tulum Luxury Tours ">Detail <i class="fa fa-angle-right"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                            <div class="wpb_wrapper">
                                                <div class="event-listing-classic ">
                                                    <div class="group"></div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a [routerLink]="['/tours/chichen-itza-at-night']" title="Nights of Kukulcan - Chichen Itza at Night"><img width="770" height="370" src="assets/images/upload/tours/Nights_Kukulcan _Chichen_Itza_Night.jpg" class="attachment-thumb_370x370 wp-post-image" alt="Tulum Luxury Tours Mexico" /></a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                            <span class="amount">$&nbsp;1,350</span>USD</span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a [routerLink]="['/tours/chichen-itza-at-night']" title="Nights of Kukulcan - Chichen Itza at Night">
                                                                            Nights of Kukulcan - Chichen Itza at Night
                                                                        </a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a [routerLink]="['/tours/chichen-itza-at-night']" title="Nights of Kukulcan - Chichen Itza at Night">Detail <i class="fa fa-angle-right"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .page-entry -->
                </article>
                <!-- #post-## -->
                <div class="clear"></div>
            </main>
            <!-- Sidebar -->
        </div>
        <div class="k2t-booking-form pull-left w100">
        </div>
        <!-- k2t-booking form -->
    </div>
    <!-- .k2t-content -->
</div>