<div class="k2t-body">
    <div class="k2t-medium-left-h k2t-about-page">
        <div class="k2t-title-bar">
            <div class="container k2t-wrap">
                <h1 style="font-size:36px;color:#283c5a;" class="main-title k2t-cf7-title">
                    About Us Page
                </h1>
                <div class="main-excerpt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                </div>
                <!-- .main-excerpt -->
            </div>
            <!-- k2t-container -->
        </div>
        <!-- .k2t-title-bar -->
        <div class="k2t-content no-sidebar b-medium">
            <div class="k2t-wrap">
                <div class="k2t-blog pagination-noborder">
                    <article class="element post-item video-post post-582 post type-post status-publish format-video hentry category-post-formats tag-embeds-2 tag-post-formats tag-video tag-wordpress-tv post_format-post-format-video" id="post-1011">
                        <div class="post-inner">
                            <div class="flx-entry-thumb">
                                <a href="single-post-standard.html">
                                    <img src="assets/images/upload/about.jpg" alt="about" />
                                </a>
                            </div>
                            <div class="entry-content">
                                <header>
                                    <h2 class="entry-title">
                                        <a rel="bookmark" href="single-post-standard.html">The story of Us</a>
                                    </h2>
                                </header>
                                <p class="excerpt">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Duis aute irure dolor in reprehenderit in voluptate incididunt
                                    ut labore et dolore.<br/> <br/> Excepteur sint occaecat cupidatat ulpa qui officia deserunt mollit panim id est. Magna aliqua velit esse cillum dolore eu fugiat nulla pariatur.<br
                                    /> <br/> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris duis apute irure dolor.
                                </p>
                            </div>
                            <!--end:entry-content-->
                        </div>
                    </article>
                    <!--end:post-item-->
                </div>
                <!-- .k2t-main -->
            </div>
            <!-- .k2t-wrap -->
        </div>
        <!-- .k2t-content -->
    </div>

    <div class="k2t-our-history">
        <div class="k2t-title-bar">
            <div class="container k2t-wrap">
                <h1 style="font-size:36px;color:#283c5a;" class="main-title k2t-cf7-title">
                    Our History
                </h1>
            </div>
            <!-- k2t-container -->
        </div>
        <!-- .k2t-title-bar -->
        <div class="entry-content-h">
            <div class="k2t-wrap">
                <div role="main" class="">
                    <div class="k2t-timeline-content">
                        <ul class="k2t-timeline-ulist">
                            <li class="k2t-timeline-list-item  timeline-odd" style="display: list-item;">
                                <div class="k2t-timeline-col1">
                                    <p class="k2t-timeline-date">2015</p>
                                </div>
                                <!-- END .ut-timeline-col1 -->
                                <div class="k2t-timeline-col2">
                                    <div class="k2t-timeline-text-wrap">
                                        <div class="k2t-timeline-icon type-facebook"></div>
                                        <div class="k2t-timeline-text-wrap-inner">
                                            <h3 class="k2t-timeline-title">Third Economic Conference</h3>
                                            <p class="k2t-timeline-text">Put short description about this event in this section. You can also put some details of this event in this section.</p>
                                        </div>
                                        <!-- END .ut-timeline-text-wrap-inner -->
                                        <div class="clear"></div>
                                    </div>
                                    <!-- END .ut-timeline-text-wrap -->
                                </div>
                                <!-- END .ut-timeline-col2 -->
                            </li>
                            <li class="k2t-timeline-list-item  timeline-even" style="display: list-item;">
                                <div class="k2t-timeline-col1">
                                    <p class="k2t-timeline-date">2012</p>
                                </div>
                                <!-- END .ut-timeline-col1 -->
                                <div class="k2t-timeline-col2">
                                    <div class="k2t-timeline-text-wrap">
                                        <div class="k2t-timeline-icon type-tweet"></div>
                                        <div class="k2t-timeline-text-wrap-inner">
                                            <h3 class="k2t-timeline-title">Opening of Blue Star Building</h3>
                                            <p class="k2t-timeline-text">Put short description about this event in this section. You can also put some details of this event in this section.
                                            </p>
                                        </div>
                                        <!-- END .ut-timeline-text-wrap-inner -->
                                        <div class="clear"></div>
                                    </div>
                                    <!-- END .ut-timeline-text-wrap -->
                                </div>
                                <!-- END .ut-timeline-col2 -->
                            </li>

                            <li class="k2t-timeline-list-item  timeline-odd" style="display: list-item;">
                                <div class="k2t-timeline-col1">
                                    <p class="k2t-timeline-date">2008</p>
                                </div>
                                <!-- END .ut-timeline-col1 -->
                                <div class="k2t-timeline-col2">
                                    <div class="k2t-timeline-text-wrap">
                                        <div class="k2t-timeline-icon type-facebook"></div>
                                        <div class="k2t-timeline-text-wrap-inner">
                                            <h3 class="k2t-timeline-title">Fifth Star Achievemen</h3>
                                            <p class="k2t-timeline-text">Put short description about this event in this section. You can also put some details of this event in this section.</p>
                                        </div>
                                        <!-- END .ut-timeline-text-wrap-inner -->
                                        <div class="clear"></div>
                                    </div>
                                    <!-- END .ut-timeline-text-wrap -->
                                </div>
                                <!-- END .ut-timeline-col2 -->
                            </li>

                            <li class="k2t-timeline-list-item  timeline-even" style="display: list-item;">
                                <div class="k2t-timeline-col1">
                                    <p class="k2t-timeline-date">2002</p>
                                </div>
                                <!-- END .ut-timeline-col1 -->
                                <div class="k2t-timeline-col2">
                                    <div class="k2t-timeline-text-wrap">
                                        <div class="k2t-timeline-icon type-tweet"></div>
                                        <div class="k2t-timeline-text-wrap-inner">
                                            <h3 class="k2t-timeline-title">Opening of Lyon Luxury Casino</h3>
                                            <p class="k2t-timeline-text">Put short description about this event in this section. You can also put some details of this event in this section.
                                            </p>
                                        </div>
                                        <!-- END .ut-timeline-text-wrap-inner -->
                                        <div class="clear"></div>
                                    </div>
                                    <!-- END .ut-timeline-text-wrap -->
                                </div>
                                <!-- END .ut-timeline-col2 -->
                            </li>

                            <li class="k2t-timeline-list-item  timeline-odd" style="display: list-item;">
                                <div class="k2t-timeline-col1">
                                    <p class="k2t-timeline-date">1992</p>
                                </div>
                                <!-- END .ut-timeline-col1 -->
                                <div class="k2t-timeline-col2">
                                    <div class="k2t-timeline-text-wrap">
                                        <div class="k2t-timeline-icon type-facebook"></div>
                                        <div class="k2t-timeline-text-wrap-inner">
                                            <h3 class="k2t-timeline-title">Founded by Alexander Napoly</h3>
                                            <p class="k2t-timeline-text">Put short description about this event in this section. You can also put some details of this event in this section.</p>
                                        </div>
                                        <!-- END .ut-timeline-text-wrap-inner -->
                                        <div class="clear"></div>
                                    </div>
                                    <!-- END .ut-timeline-text-wrap -->
                                </div>
                                <!-- END .ut-timeline-col2 -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- k2t-our-history -->

    <div class="k2t-medium-post-h" id="post-3-columns">
        <div class="k2t-title-bar">
            <div class="container k2t-wrap">
                <h1 style="font-size:36px;color:#fff;" class="main-title k2t-cf7-title">
                    V.I.P Services
                </h1>
            </div>
            <!-- k2t-container -->
        </div>
        <!-- .k2t-title-bar -->
        <div class="entry-content-h">
            <div class="k2t-wrap">
                <div role="main">
                    <div class="w100 pull-left">
                        <div class="post-hcol-3 pull-left">
                            <div class="img pull-left w100">
                                <a href="single-post-standard.html">
                                    <img src="assets/images/upload/dsc-2123.png" alt="Luxury Restaurant" />
                                </a>
                            </div>
                            <h2 class="post-title-h pull-left w100">
                                <a href="single-post-standard.html">Luxury Restaurant</a>
                            </h2>
                            <div class="post-h-excerpt w100 pull-left">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                            </div>
                        </div>
                        <div class="post-hcol-3 pull-left">
                            <div class="img pull-left w100">
                                <a href="single-post-standard.html">
                                    <img src="assets/images/upload/bar.jpg" alt="Sky Bar & Lounge" />
                                </a>
                            </div>
                            <h2 class="post-title-h pull-left w100">
                                <a href="single-post-standard.html">Sky Bar & Lounge</a>
                            </h2>
                            <div class="post-h-excerpt w100 pull-left">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                            </div>
                        </div>
                        <div class="post-hcol-3 pull-left">
                            <div class="img pull-left w100">
                                <a href="single-post-standard.html">
                                    <img src="assets/images/upload/car.jpg" alt="Hotel Car Service" />
                                </a>
                            </div>
                            <h2 class="post-title-h pull-left w100">
                                <a href="single-post-standard.html">Hotel Car Service</a>
                            </h2>
                            <div class="post-h-excerpt w100 pull-left">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .k2t-main -->
            </div>
            <!-- .k2t-wrap -->
        </div>
        <!-- .k2t-content -->
    </div>

    <div id="slider-2-column" style="margin-bottom: 70px;">
        <div class="k2t-title-bar">
            <div class="container k2t-wrap">
                <h1 style="font-size:36px;color:#283c5a;" class="main-title k2t-cf7-title">
                    Testimonials
                </h1>
                <div class="main-excerpt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                </div>
            </div>
            <!-- k2t-container -->
        </div>
        <!-- .k2t-title-bar -->
        <div class="entry-content-h">
            <div class="k2t-wrap">
                <div role="main">
                    <div class="slider-entry w100 pull-left">
                        <div class="k2t-item pull-left">
                            <div class="k2t-item-avata pull-left">
                                <img src="assets/images/upload/view01.png" alt="view01" />
                            </div>
                            <div class="k2t-item-info">
                                <div class="k2t-itemh-l">
                                    <a class="k2t-itemh-title" href="single-post-standard.html">Prince Carl Philip</a>
                                    <div id="post-ratings-20893" class="post-ratings" data-nonce="85a286916f">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(2089, 1, '1 Star');" onmouseout="ratings_off(5, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(2089, 2, '2 Stars');" onmouseout="ratings_off(5, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(2089, 3, '3 Stars');" onmouseout="ratings_off(5, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(2089, 4, '4 Stars');" onmouseout="ratings_off(5, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(2089, 5, '5 Stars');" onmouseout="ratings_off(5, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;">
                                        <span class="post-ratings-text" id="ratings_2089_text3"></span></div>
                                </div>
                                <div class="k2t-itemh-sub">Duke of Värmland</div>
                                <div class="k2t-itemh-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua utenim.</div>
                            </div>

                        </div>
                        <div class="k2t-item pull-left">
                            <div class="k2t-item-avata pull-left">
                                <img src="assets/images/upload/view01.png" alt="view01" />
                            </div>
                            <div class="k2t-item-info">
                                <div class="k2t-itemh-l">
                                    <a class="k2t-itemh-title" href="single-post-standard.html">Prince Carl Philip</a>
                                    <div id="post-ratings-20893" class="post-ratings" data-nonce="85a286916f">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(2089, 1, '1 Star');" onmouseout="ratings_off(5, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(2089, 2, '2 Stars');" onmouseout="ratings_off(5, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(2089, 3, '3 Stars');" onmouseout="ratings_off(5, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(2089, 4, '4 Stars');" onmouseout="ratings_off(5, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(2089, 5, '5 Stars');" onmouseout="ratings_off(5, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;">
                                        <span class="post-ratings-text" id="ratings_2089_text3"></span></div>
                                </div>
                                <div class="k2t-itemh-sub">Duke of Värmland</div>
                                <div class="k2t-itemh-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua utenim.</div>
                            </div>

                        </div>
                        <div class="k2t-item pull-left">
                            <div class="k2t-item-avata pull-left">
                                <img src="assets/images/upload/view01.png" alt="view01" />
                            </div>
                            <div class="k2t-item-info">
                                <div class="k2t-itemh-l">
                                    <a class="k2t-itemh-title" href="single-post-standard.html">Prince Carl Philip</a>
                                    <div id="post-ratings-20893" class="post-ratings" data-nonce="85a286916f">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(2089, 1, '1 Star');" onmouseout="ratings_off(5, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(2089, 2, '2 Stars');" onmouseout="ratings_off(5, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(2089, 3, '3 Stars');" onmouseout="ratings_off(5, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(2089, 4, '4 Stars');" onmouseout="ratings_off(5, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(2089, 5, '5 Stars');" onmouseout="ratings_off(5, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;">
                                        <span class="post-ratings-text" id="ratings_2089_text3"></span></div>
                                </div>
                                <div class="k2t-itemh-sub">Duke of Värmland</div>
                                <div class="k2t-itemh-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua utenim.</div>
                            </div>

                        </div>

                    </div>
                    <!-- slider entry -->

                </div>
                <!-- .k2t-main -->
            </div>
            <!-- .k2t-wrap -->
        </div>
        <!-- .k2t-content -->
    </div>

</div>