<div class="k2t-body">
    <div class="k2t-content k2t-entry-event no-sidebar">
        <div class="k2t-wrap">
            <main class="k2t-main">
                <div class="post-2089 post-k-event type-post-k-event status-publish has-post-thumbnail hentry k-event-category-3-grid k-event-category-mix-grid" id="main-col">
                    <div class="k2t-row k2t-rows-inner k2t-room-detail">
                        <div class="entry-content pull-left">
                            <div class="k2t-title-room pull-left w100">
                                <!-- Title -->
                                <div class="event-title">
                                    <h3 class="h">Nights of Kukulcan - Chichen Itza at Night
                                        <!--<span class="price pull-right">
                                            <span class="amount">$&nbsp;1,350</span>
                                            <span class="amount">/ Day</span>
                                        </span>-->
                                    </h3>
                                </div>
                                <!-- END Title -->
                            </div>
                            <div class="k2t-event-gallery pull-left w100">
                                <div class="k2t-thumb-gallery">
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitzaatnight/tours_b/chichen-itza-at-night.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitzaatnight/tours_b/chichen-itza-at-night-2.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitzaatnight/tours_b/chichen-itza-at-night-3.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitzaatnight/tours_b/chichen-itza-at-night-4.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitzaatnight/tours_b/chichen-itza-at-night-5.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitzaatnight/tours_b/chichen-itza-at-night-6.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitzaatnight/tours_b/chichen-itza-at-night-7.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitzaatnight/tours_b/chichen-itza-at-night-8.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitzaatnight/tours_b/chichen-itza-at-night-9.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/chichenitzaatnight/tours_b/chichen-itza-at-night-10.jpg" />
                                    </div>
                                </div>
                                <div id="inavigation">
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitzaatnight/tours_a/chichen-itza-at-night.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitzaatnight/tours_a/chichen-itza-at-night-2.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitzaatnight/tours_a/chichen-itza-at-night-3.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitzaatnight/tours_a/chichen-itza-at-night-4.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitzaatnight/tours_a/chichen-itza-at-night-5.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitzaatnight/tours_a/chichen-itza-at-night-6.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitzaatnight/tours_a/chichen-itza-at-night-7.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitzaatnight/tours_a/chichen-itza-at-night-8.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitzaatnight/tours_a/chichen-itza-at-night-9.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/chichenitzaatnight/tours_a/chichen-itza-at-night-10.jpg" />
                                    </div>
                                </div>
                            </div>
                            <h3 class="event-item-title">Featured</h3>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Customizable private tour.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Avoid tight schedules and crowds.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Explore the archaeological site of Chichen-Itza with only your friends or family and your private guide at night.
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Live an unique experience in the ancient mayan world.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Dinner and beverages included.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Transportation included.
                                </p>
                            </div>
                            <hr>
                            <h3 class="event-item-title">Important information</h3>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i>
                                    <b>Pick up:</b> Your Hotel in Cancun.
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> We suggest to departure 11:00 AM
                                </p>
                            </div>
                            <hr>
                            <h3 class="event-item-title">Includes</h3>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Customizable private tour.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Private guide.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Temazcal.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Beverages and snacks on board.
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Visit to Valladolid.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Swimming in cenote.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Taxes and insurance.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-wifi-alt"></i> Diiner
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-tv"></i> Tolls fees.
                                </p>
                            </div>
                            <!-- Description -->
                            <div class="event-description pull-left">
                                <h3 class="h event-item-title">Summary</h3>
                                <div class="content">
                                    <p>If it´s amazing at day imagine it at night!
                                        <br/> We will pick you up at your hotel and take you to Valladolid, Yucatan where you will visit a Temazcal and partake in an ancient mayan ritual of purification.
                                        <br/> After that you will refresh in the sacred fresh waters of a Cenote in the center of Valladolid city in which you will have time to explore the beauties of the colonial city in which the mayan traditions are
                                        still honored.
                                    </p>
                                    <p>
                                        The archeological site of Chichen-Itza was named world heritage by UNESCO in 1988. It is one of the most famous tourist points in the continent and home of the Kukulkan´s temple named one of the new seven wonders of the world in which you will see the
                                        incredible light and sound show “Noches de Kukulkan”.
                                    </p>
                                </div>
                                <h3 class="h event-item-title">What to expect</h3>
                                <div class="content">
                                    <p>
                                        Although we suggest a pick-up hour to maximize the time and visit the wonders with total freedom while avoiding the crowds also we can adjust to the time you decide to pick you up. We will travel in a private van with air conditioning and the amenities
                                        of your election.
                                    </p>
                                    <p>
                                        We will arrive to the colonial city of Valladolid, Yucatan where you will partake in the ancient mayan ritual of temazcal where you will use steam and incense of copal for the cleansing of body and soul.
                                    </p>
                                    <p>
                                        After that you wil refresh in the cold and sacred waters of a Cenote. And have dinner after exploring the beautiful streets and monuments of Valladolid. Once on Chichen-Itza , You will have 45 minutes to explore the archaeological site at night, after
                                        that you will take your seat and enjoy the show “Noches de Kukulkan” an unique experience in one of the new seven wonders of the world! This is your tour! Coordinate with us to receive you with the beverages, snacks
                                        and music of your preference! Forget about tight schedules and crowded buses.
                                    </p>
                                    <p>
                                        You decide your itinerary and which places you will visit! During your tour we will be happy to suggest you points of interest in Valladolid and the archeological site of Chichen- Itza!
                                    </p>
                                </div>
                            </div>
                            <!-- Event Calendar Import -->
                            <!--<div class="btn btn-booking pull-left">
                                <a class="event-link" target="_blank" href="reservation.html">Booking This Tour</a>
                            </div>-->
                        </div>
                        <app-form></app-form>
                    </div>
                </div>
                <!-- #main-col -->
            </main>
            <!-- .k2t-blog -->
        </div>
        <!-- .k2t-wrap -->
    </div>
    <!-- .k2t-content -->
</div>