<div class="offcanvas-sidebar" style="">
    <div class="k2t-sidebar relative" style="padding:0">
        <a id="close-canvas" onclick="javascript:return false;" class="open-sidebar" href="#">
            <span class="zmdi zmdi-close"></span>
        </a>
        <div class="menu-main-menu-container">
            <ul id="menu-main-menu-1" class="menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1601"><a [routerLink]="['/home']" (click)="hideSideBar();">Home</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1601"><a [routerLink]="['/tours']" (click)="hideSideBar();">Tours</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1601"><a [routerLink]="['/contact']" (click)="hideSideBar();">Contact</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1601"><a [routerLink]="['/about']" (click)="hideSideBar();">About Us</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1601"><a [routerLink]="['/gallery']" (click)="hideSideBar();">Gallery</a>
                </li>
                <!-- <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1600"><a href="about-us.html">About</a>
      </li> -->
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1541 children"><a>Reserve</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1840"><a href="rooms-listing-2-columns.html">Tours</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1852"><a href="rooms-listing-3-columns.html">Transfers</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="canvas-sidebar-social w100">
            <aside class="widget social-widget" id="k2t_social-3">
                <ul>
                    <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li class="instagram"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </aside>
        </div>
    </div>
</div>