<div class="k2t-body">
    <div class="k2t-content no-sidebar">
        <div class="container k2t-wrap" style="max-width: 100%;margin: auto;">
            <main class="k2t-main page" style="padding-left: 0;padding-right: 0;">
                <div class="post-1866 page type-page status-publish hentry" id="post-1866">
                    <div class="page-entry">
                        <div class="wpb_revslider_element wpb_content_element" style="margin-bottom:0px !important">
                            <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
                            <link href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
                            <div class="forcefullwidth_wrapper_tp_banner" style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px">
                                <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:-115px;">
                                    <!-- START REVOLUTION SLIDER 5.0.6 fullwidth mode -->
                                    <div id="video-container">
                                        <video controls id="video-home" width="100%" height="100%" poster="assets/images/upload/home/header_luxury_tours_mexico.jpg">
                                            <source src="assets/images/upload/home/luxury_tours_mexico.m4v" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- page entry -->
                </div>
                <!-- div -->
            </main>
            <!-- main -->
        </div>
        <!-- k2t wrap -->
    </div>
    <!-- k2t-content -->
    <div class="k2t-medium-left-h relative" id="homepage3">
        <div class="absolute bg-fl-top">
        </div>
        <div class="home3-search-form">
            <div class="container k2t-wrap">
                <div class="k2t-blog w100">
                    <app-form [classPull]="classPull"></app-form>
                </div>
            </div>
        </div>
        <div class="k2t-title-bar">
            <div class="container k2t-wrap">
                <h1 style="font-size:36px;color:#283c5a;" class="main-title k2t-cf7-title">
                    Luxury Tours México
                </h1>
                <div class="main-excerpt">
                    <!-- Some Text -->
                </div>
                <!-- .main-excerpt -->
            </div>
            <!-- k2t-container -->
        </div>
        <!-- .k2t-title-bar -->
        <div class="k2t-content no-sidebar b-medium">
            <div class="k2t-wrap">
                <div role="main" class="k2t-blog pagination-noborder">
                    <article class="element post-item video-post post-582 post type-post status-publish format-video hentry category-post-formats tag-embeds-2 tag-post-formats tag-video tag-wordpress-tv post_format-post-format-video" id="post-1011">
                        <div class="post-inner">
                            <div class="flx-entry-thumb">
                                <div class="wpb_video_widget wpb_content_element">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_video_wrapper"><iframe width="570" height="320" src="https://www.youtube.com/embed/kwESjWWhN4E" allowfullscreen=""></iframe></div>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-content">
                                <header>
                                    <h2 class="entry-title">
                                        <a rel="bookmark" href="single-post-standard.html">Luxury Tours México</a>
                                    </h2>
                                </header>
                                <p class="excerpt">
                                    Private tailor made tours through the ancient Mayan world, Riviera Maya and the skies of the Mexican Caribbean with the world class service and customization you deserve in your vacations.
                                    <br/> Explore the natural beauties, the history, landscapes and skies that this part of México has to offer the best way possible and craft lifetime experiences and unforgettable memories.
                                </p>
                                <div class="footer-content">
                                    <a href="single-post-standard.html" style="background:#283c5a" class="more-link btn-ripple">LEARN MORE</a>
                                </div>
                            </div>
                            <!--end:entry-content-->
                            <div class="k2t-blog-social pull-left">
                                <div class="k2t-social-share post">
                                    <ul class="social">
                                        <li class="post_share">Share:</li>
                                        <li>
                                            <a class="facebook" href="#" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                <i class="fa fa-facebook"></i>
                                                <span>Facebook</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- .social -->
                                </div>
                                <!-- .social-share -->
                            </div>
                        </div>
                    </article>
                    <!--end:post-item-->
                </div>
                <!-- .k2t-main -->
            </div>
            <!-- .k2t-wrap -->
        </div>
        <!-- .k2t-content -->
        <div class="absolute bg-fl-bottom">
        </div>
    </div>
    <div class="k2t-content no-sidebar k2t-room-listing k2t-room-style3" style="background: transparent; ">
        <div class="container k2t-wrap">
            <!-- Main -->
            <div class="k2t-main-gallery page" role="main">
                <article id="post-1868" class="post-1868 page type-page status-publish hentry">
                    <div class="page-entry">
                        <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1440555998714" style="box-sizing: border-box;">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="wpb_wrapper">
                                    <div class="wpb_row vc_inner vc_row-fluid vc_custom_1440555859553">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                            <div class="wpb_wrapper">
                                                <div id="uTXY49SViN" class="k2t-heading align-center no-img no-border no-subtitle h2 two_dots">
                                                    <div class="k2t-heading-inner">
                                                        <div class="text">
                                                            <h2 class="h" style="padding-top:135px"><span>Best Tours México</span></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="w100 pull-left k2t-bg-title">
                                                    <img width="70" height="10" src="assets/images/upload/bg-title-bar.png" class="vc_single_image-img attachment-thumbnail" alt="bg-title-bar">
                                                </div>
                                                <div class="sub-title-room pull-left w100">
                                                    <!-- Some Text -->
                                                </div>
                                                <div class="event-listing-classic columns-3">
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a routerLink="/tours/chichen-itza">
                                                                    <img width="1200" height="1200" src="assets/images/upload/home/luxury_tours_chichen_itza.jpg" class="attachment-thumb_370x370 wp-post-image" alt="King Suite Room" /></a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
																	<span class="amount">$&nbsp;1,350</span> </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a routerLink="/tours/chichen-itza" title="Tour Elite Chichen Itza">
																	Tour Elite Chichen Itza</a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a routerLink="/tours/chichen-itza" title="Tour Elite Chichen Itza">Detail <i class="fa fa-angle-right"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a routerLink="/tours/tulum-coba" title="Tour Tulum and Coba"><img width="1200" height="1200" src="assets/images/upload/home/luxury_tours_coba.jpg" class="attachment-thumb_370x370 wp-post-image" alt="King Suite Room" /></a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
																	<span class="amount">$&nbsp;1,350</span> </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a routerLink="/tours/tulum-coba" title="Tour Tulum and Coba">
																	Tour Tulum and Coba        								</a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a routerLink="/tours/tulum-coba" title="Tour Tulum and Coba">Detail <i class="fa fa-angle-right"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a routerLink="/tours/chichen-itza-by-airplane" title="Chichen Itza by Airplane">
                                                                    <img width="1200" height="1200" src="assets/images/upload/home/luxury_tours_tulum.jpg" class="attachment-thumb_370x370 wp-post-image" alt="Royal Suite Room" /></a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
																	<span class="amount">$&nbsp;2750</span> </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a routerLink="/tours/chichen-itza-by-airplane" title="Chichen Itza by Airplane">
                                                                            Chichen Itza by Airplane
                                                                        </a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a routerLink="/tours/chichen-itza-by-airplane" title="Chichen Itza by Airplane">Detail <i class="fa fa-angle-right"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="margin-top:50px" class="w100 pull-left vc_btn3-container vc_btn3-center vc_custom_1442397760959"><a title="Luxury Tours México" routerLink="/tours" class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square vc_btn3-style-classic vc_btn3-color-black">VIEW ALL TOURS</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .page-entry -->
                </article>
                <!-- #post-## -->
                <div class="clear"></div>
            </div>
            <!-- Sidebar -->
        </div>
    </div>
    <div id="slider-2-column" style="background:#f5f5f5">
        <div class="k2t-title-bar" style="margin-top:120px !important; padding-top:135px;">
            <div class="container k2t-wrap">
                <h1 style="font-size:36px;color:#283c5a;" class="main-title k2t-cf7-title">
                    Testimonials
                </h1>
                <div class="main-excerpt">
                </div>
            </div>
            <!-- k2t-container -->
        </div>
        <!-- .k2t-title-bar -->
        <div class="entry-content-h">
            <div class="k2t-wrap">
                <div role="main">
                    <div class="slider-entry w100 pull-left">
                        <div class="k2t-item pull-left">
                            <div class="k2t-item-avata pull-left">
                                <img src="assets/images/upload/home/testimonial-luxury-tours-cancun.jpg" alt="view01" />
                            </div>
                            <div class="k2t-item-info">
                                <div class="k2t-itemh-l">
                                    <a class="k2t-itemh-title" href="single-post-standard.html">Prince Carl Philip</a>
                                    <div class="post-ratings" data-nonce="85a286916f"><img src="assets/images/stars_crystal/rating_on.gif" alt="1 Star" title="1 Star" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="2 Stars" title="2 Stars" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="3 Stars" title="3 Stars" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="4 Stars" title="4 Stars" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="5 Stars" title="5 Stars" style="cursor: pointer; border: 0px;">
                                        <span class="post-ratings-text"></span></div>
                                </div>
                                <div class="k2t-itemh-sub">Duke of Värmland</div>
                                <div class="k2t-itemh-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua utenim.</div>
                            </div>
                        </div>
                        <div class="k2t-item pull-left">
                            <div class="k2t-item-avata pull-left">
                                <img src="assets/images/upload/home/testimonial-luxury-tours-cancun2.jpg" alt="view02" />
                            </div>
                            <div class="k2t-item-info">
                                <div class="k2t-itemh-l">
                                    <a class="k2t-itemh-title" href="single-post-standard.html">Gwyneth Paltrow</a>
                                    <div class="post-ratings" data-nonce="85a286916f"><img src="assets/images/stars_crystal/rating_on.gif" alt="1 Star" title="1 Star" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="2 Stars" title="2 Stars" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="3 Stars" title="3 Stars" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="4 Stars" title="4 Stars" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="5 Stars" title="5 Stars" style="cursor: pointer; border: 0px;">
                                        <span class="post-ratings-text"></span></div>
                                </div>
                                <div class="k2t-itemh-sub">Actress, singer, author</div>
                                <div class="k2t-itemh-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua utenim.</div>
                            </div>
                        </div>
                        <div class="k2t-item pull-left">
                            <div class="k2t-item-avata pull-left">
                                <img src="assets/images/upload/home/testimonial-luxury-tours-cancun.jpg" alt="view01" />
                            </div>
                            <div class="k2t-item-info">
                                <div class="k2t-itemh-l">
                                    <a class="k2t-itemh-title" href="single-post-standard.html">Prince Carl Philip</a>
                                    <div class="post-ratings" data-nonce="85a286916f">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="1 Star" title="1 Star" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="2 Stars" title="2 Stars" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="3 Stars" title="3 Stars" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="4 Stars" title="4 Stars" style="cursor: pointer; border: 0px;">
                                        <img src="assets/images/stars_crystal/rating_on.gif" alt="5 Stars" title="5 Stars" style="cursor: pointer; border: 0px;">
                                        <span class="post-ratings-text"></span></div>
                                </div>
                                <div class="k2t-itemh-sub">Duke of Värmland</div>
                                <div class="k2t-itemh-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua utenim.</div>
                            </div>
                        </div>
                    </div>
                    <!-- slider entry -->
                </div>
                <!-- .k2t-main -->
            </div>
            <!-- .k2t-wrap -->
        </div>
        <!-- .k2t-content -->
    </div>
    <app-news></app-news>
</div>