<div class="k2t-body">
    <div class="k2t-content k2t-entry-event no-sidebar">
        <div class="k2t-wrap">
            <main class="k2t-main">
                <div class="post-2089 post-k-event type-post-k-event status-publish has-post-thumbnail hentry k-event-category-3-grid k-event-category-mix-grid" id="main-col">
                    <div class="k2t-row k2t-rows-inner k2t-room-detail">
                        <div class="entry-content pull-left">
                            <div class="k2t-title-room pull-left w100">
                                <!-- Title -->
                                <div class="event-title">
                                    <h3 class="h">Scenic Flight Tour
                                        <!--<span class="price pull-right">
                                            <span class="amount">$&nbsp;1,350</span>
                                            <span class="amount">/ Day</span>
                                        </span>-->
                                    </h3>
                                </div>
                                <!-- END Title -->
                            </div>
                            <div class="k2t-event-gallery pull-left w100">
                                <div class="k2t-thumb-gallery">
                                    <div class="item">
                                        <img width="710" height="455" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/scenic-flight/tours_b/scenic-flight-sian-kaan.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/scenic-flight/tours_b/scenic-flight-sian-kaan-2.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/scenic-flight/tours_b/scenic-flight-cozumel.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/scenic-flight/tours_b/scenic-flight-cozumel-2.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/scenic-flight/tours_b/scenic-flight-cozumel-3.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/scenic-flight/tours_b/scenic-flight-cozumel-4.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/scenic-flight/tours_b/scenic-flight-isla-mujeres.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/scenic-flight/tours_b/scenic-flight-isla-mujeres-2.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/scenic-flight/tours_b/scenic-flight-isla-mujeres-3.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/scenic-flight/tours_b/scenic-flight-isla-mujeres-4.jpg" />
                                    </div>
                                </div>
                                <div id="inavigation">
                                    <div class="item">
                                        <img width="110" height="110" src="assets/images/upload/tours/scenic-flight/tours_a/scenic-flight-sian-kaan.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" src="assets/images/upload/tours/scenic-flight/tours_a/scenic-flight-sian-kaan-2.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" src="assets/images/upload/tours/scenic-flight/tours_a/scenic-flight-cozumel.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" src="assets/images/upload/tours/scenic-flight/tours_a/scenic-flight-cozumel-2.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" src="assets/images/upload/tours/scenic-flight/tours_a/scenic-flight-cozumel-3.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" src="assets/images/upload/tours/scenic-flight/tours_a/scenic-flight-cozumel-4.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" src="assets/images/upload/tours/scenic-flight/tours_a/scenic-flight-isla-mujeres.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" src="assets/images/upload/tours/scenic-flight/tours_a/scenic-flight-isla-mujeres-2.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" src="assets/images/upload/tours/scenic-flight/tours_a/scenic-flight-isla-mujeres-3.jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" src="assets/images/upload/tours/scenic-flight/tours_a/scenic-flight-isla-mujeres-4.jpg" />
                                    </div>
                                </div>
                            </div>
                            <h3 class="event-item-title">Featured</h3>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Flight above the turquoise water of the Mexican Caribbean.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> See incredible and unique landscapes from the skies.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Take amazing pictures from your window seat.
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> An amazing once in a lifetime experience.
                                </p>
                            </div>
                            <hr>
                            <h3 class="event-item-title">Important information</h3>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i>
                                    <b>Pick up:</b> Your Hotel in Cancun.
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i><b>Pick Up</b> Anytime before 6:00 PM
                                </p>
                            </div>
                            <hr>
                            <h3 class="event-item-title">Includes</h3>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Round Transportation Hotel – Airport - Hotel
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> 1 Hour Scenic Flight
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Taxes and insurance.
                                </p>
                            </div>
                            <!-- Description -->
                            <div class="event-description pull-left">
                                <h3 class="h event-item-title">Summary</h3>
                                <div class="content">
                                    <p>
                                        Surrounded for such majestic natural wonders like the Caribbean Sea, Isla mujeres and the coral reefs in Cozumel, and the biosphere reserve of Sian Ka´an the Riviera Maya is the ideal spot to traverse in a high wing airplane.
                                    </p>
                                    <p>
                                        If you are a professional or amateur photographer or just someone looking for an amazing once in a lifetime experience this is a tour recommended for you.
                                    </p>
                                </div>
                                <h3 class="h event-item-title">What to expect</h3>
                                <div class="content">
                                    <p>
                                        We will pick you up at your hotel and take you to FBO Terminal at Cancun International Airport where you will be greeted for the professional pilot that will take you and your friends or family into the airplane and into the skies.
                                    </p>
                                    <p>
                                        You will travel above the best landscapes in the area and for the duration of the tour will be able to ask the pilot to visit one or another point of interest or just let him handle the experience, we guarantee you an unforgettable memory and a once in
                                        a lifetime experience.
                                    </p>
                                </div>
                            </div>
                            <!-- Event Calendar Import -->
                            <!--<div class="btn btn-booking pull-left">
                                <a class="event-link" target="_blank" href="reservation.html">Booking This Tour</a>
                            </div>-->
                        </div>
                        <app-form></app-form>
                    </div>
                </div>
                <!-- #main-col -->
            </main>
            <!-- .k2t-blog -->
        </div>
        <!-- .k2t-wrap -->
    </div>
    <!-- .k2t-content -->
</div>