<div class="k2t-body">
    <div class="k2t-content k2t-entry-event no-sidebar">
        <div class="k2t-wrap">
            <main class="k2t-main">
                <div class="post-2089 post-k-event type-post-k-event status-publish has-post-thumbnail hentry k-event-category-3-grid k-event-category-mix-grid" id="main-col">
                    <div class="k2t-row k2t-rows-inner k2t-room-detail">
                        <div class="entry-content pull-left">
                            <div class="k2t-title-room pull-left w100">
                                <!-- Title -->
                                <div class="event-title">
                                    <h3 class="h">Luxury Tulum Coba Tour
                                        <span class="price pull-right">
                  <span class="amount">$&nbsp;1,350</span>
                                        <span class="amount">/ Day</span>
                                        </span>
                                    </h3>
                                </div>
                                <!-- END Title -->
                            </div>
                            <div class="k2t-event-gallery pull-left w100">
                                <div class="k2t-thumb-gallery">
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/tulumcoba/tours_b/tulum_coba_luxury_tours (1).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/tulumcoba/tours_b/tulum_coba_luxury_tours (2).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/tulumcoba/tours_b/tulum_coba_luxury_tours (3).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/tulumcoba/tours_b/tulum_coba_luxury_tours (4).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/tulumcoba/tours_b/tulum_coba_luxury_tours (5).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/tulumcoba/tours_b/tulum_coba_luxury_tours (6).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/tulumcoba/tours_b/tulum_coba_luxury_tours (7).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/tulumcoba/tours_b/tulum_coba_luxury_tours (8).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/tulumcoba/tours_b/tulum_coba_luxury_tours (9).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="710" height="455" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="attachment-thumb_710x455 wp-post-image" src="assets/images/upload/tours/tulumcoba/tours_b/tulum_coba_luxury_tours (10).jpg" />
                                    </div>
                                </div>
                                <div id="inavigation">
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/tulumcoba/tours_a/tulum_coba_luxury_tours (1).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/tulumcoba/tours_a/tulum_coba_luxury_tours (2).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/tulumcoba/tours_a/tulum_coba_luxury_tours (3).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/tulumcoba/tours_a/tulum_coba_luxury_tours (4).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/tulumcoba/tours_a/tulum_coba_luxury_tours (5).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/tulumcoba/tours_a/tulum_coba_luxury_tours (6).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/tulumcoba/tours_a/tulum_coba_luxury_tours (7).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/tulumcoba/tours_a/tulum_coba_luxury_tours (8).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/tulumcoba/tours_a/tulum_coba_luxury_tours (9).jpg" />
                                    </div>
                                    <div class="item">
                                        <img width="110" height="110" alt="eiffel-tower-paris-las-vegas-hotel-casino-wallpaper-1056" class="" src="assets/images/upload/tours/tulumcoba/tours_a/tulum_coba_luxury_tours (10).jpg" />
                                    </div>
                                </div>
                            </div>
                            <h3 class="event-item-title">Featured</h3>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Private customizable tour.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Avoid tight schedules and crowds.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Discover the archaeological sites of Tulum and Coba with only your group of friend or family and your personal private guide.
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Refresh in one of the best beaches in the world.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Private transportation and guide on board.
                                </p>
                            </div>
                            <hr>
                            <h3 class="event-item-title">Important information</h3>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i>
                                    <b>Pick-up point:</b> Your hotel in Cancun
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i>
                                    <b>Hour of departure</b> We suggest to departure between 7:30 – 8:00am
                                </p>
                            </div>
                            <hr>
                            <h3 class="event-item-title">Includes</h3>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Customizable private tour.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Private guide.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Entrance fees to the archaeological sites.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Lunchbox light breakfast
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Beverages and snacks on board.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-check"></i> Swimming in Cenote visit to beach paraiso.
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-wifi-alt"></i> Lunch
                                </p>
                                <p class="attribute">
                                    <i class="zmdi zmdi-tv"></i> Taxes and insurance
                                </p>
                            </div>
                            <hr>
                            <!-- Description -->
                            <div class="event-description pull-left">
                                <h3 class="h event-item-title">Summary</h3>
                                <div class="content">
                                    <p>The archaeological sites of Tulum and Coba are amongst the most important and representative sites in the area. Coba contains one of the biggest temples in the peninsula and whose climb is still allowed today. Climb
                                        to the top of the huge Mayan temple and contemplate the Mayan jungle as far as the eyes can see. Discover the walled city of Tulum and be dazzled by the turquoise waters of the Caribbean Sea that hits its shores.
                                    </p>
                                    <p>
                                        Choosing us guarantees you the best possible experience and the customization you deserve. Let us know how we can make your experience the most special way possible for you and your companions and we will be happy to assist you.
                                    </p>
                                    <p>
                                        Your private tours includes your private tour guide, and the snacks and beverages of your choice in the transport unit, snorkel and swimming in one of the best beaches in the world or Cenote.
                                    </p>
                                </div>
                                <h3 class="h event-item-title">What to expect</h3>
                                <div class="content">
                                    <p>Although we suggest a certain time for pick up in order to maximize the time available and be able to travel among the wonders avoiding the crowds, the time for pick up is yours to decide. We will pick you up at your
                                        hotel in a private van with air conditioning with your guide and amenities of your choice. We will travel first to Coba where optionally we will travel the archaeological site in bicycle, tricycle or by foot. Your
                                        guide will show you the most important structures and you will have the opportunity to climb the temple of Nohoch Mul, one of the biggest Mayan structures in the area.
                                    </p>
                                    <p>
                                        Once in Tulum, you will get to know the most important edification in the archaeological site y you will free time to walk and marvel at the landscapes crowned by one of the best beaches in Riviera Maya. Refresh in the cold waters of a Cenote or enjoy
                                        the sand and the sea in one of the best beaches in the country.
                                    </p>
                                    <p>
                                        This is your tour! Plan with us to receive you with the beverages, snacks and music of your choice! Avoid tight schedules in crowded buses, you decide your schedules and which sites to visit! During the duration of your tour we will be happy to suggest
                                        points of interest in the area.
                                    </p>
                                </div>
                            </div>
                            <!-- Event Calendar Import -->
                            <div class="btn btn-booking pull-left">
                                <a class="event-link" target="_blank" href="reservation.html">Booking This Tour</a>
                            </div>
                        </div>
                        <app-form></app-form>
                    </div>
                </div>
                <!-- #main-col -->
            </main>
            <!-- .k2t-blog -->
        </div>
        <!-- .k2t-wrap -->
    </div>
    <!-- .k2t-content -->
</div>